<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
     integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous">

    <!-- css -->
    <link rel="stylesheet" href="{{url_for('static', filename = 'style.css')}}"
    type="text/css">

    <!-- plot chart -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
      function cb(selection){
        $.getJSON({
          url: "/callback", data: { 'data':selection}, success: function (result){
            Plotly.newPlot('chart1', result, {});;
          }
        })
      }
    </script>
    
    <title>Credit Card</title>
    
</head>
<body>
  
  <nav class="navbar navbar-light" style="background-color: white;">
    <div class="container-fluid">
      <span class="navbar-brand mb-0 h1" style="color: black; font-family: Segoe UI; margin: 0 0 0 8px; letter-spacing: 0.1em;">OUR Data Studio</span>
      <p style="margin: 8px 16px 8px 0; font-size: 14px; color: black;">OUR Projects / Credit Card - Clustering</p>
    </div>
  </nav>

  <nav>
    <ul class="nav nav-tabs" style="margin: 8px 0 0 0">
      <li class="nav-item">
        <a class="nav-link" href="/data" style="color: black;">Data</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/eda" style="color: black;">EDA</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/conclu" style="color: black;" style="color: black;border-top: 4px #46039f solid;">Conclusion</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/prediction" style="color: black;">Prediction</a>
      </li>
    </ul>
  </nav>

  <main>
    <div class="wrapper">
      <div class="wrapper-left">
        <ul>
          <li data-li="ringkasan" class="active">
            <p>Ringkasan</p>
          </li>
          <li data-li="terbanyak">
            <p>Pengguna Terbanyak</p>
          </li>
          <li data-li="lumayanbanyak">
            <p>Pengguna Lumayan Banyak</p>
          </li>
          <li data-li="lumayansedikit">
            <p>Pengguna Lumayan Sedikit</p>
          </li>
          <li data-li="palingsedikit">
            <p>Pengguna Paling Sedikit</p>
          </li>
        </ul>
      </div>
      <div class="wrapper-right">
        <div class="container" style="margin-top: 24px;">
          <div class="item ringkasan">
            <div class="item-info">
                <p>Berdasarkan clustering yang telah kami lakukan terhadap dataset pengguna credit card, di dapatkan 4 kelompok pengguna berdasarkan perilaku penggunaannya yaitu: Pengguna Terbanyak, Pengguna Lumayan Banyak, Pengguna Lumayan Sedikit, dan Pengguna Paling Sedikit. Untuk memposisikan bisnis kami sebagai pilihan yang terjangkau bagi konsumen lokal, kami berencana untuk fokus pada konsumen kelas menengah yaitu Pengguna Terbanyak dan Pengguna Lumayan Banyak.
                </p>
                <p></p>
                <p><b>Kriteria segmen pasar:</b></p>
                <p>
                    - Seberapa sering pengguna melakukan pembelian produk? <br>
                    - Seberapa sering pengguna melakukan penarikan tunai?<br>
                    - Berapa jumlah rata-rata sisa saldo pengguna?<br>
                    - Berapa jumlah rata-rata penarikan tunai yang dilakukan pengguna?<br>
                    - Berapa jumlah rata-rata minimum pembayaran yang dilakukan pengguna?
                </p>
            </div>
          </div>
          <div class="item terbanyak" style="display: none;">
            <div class="item-info">
                <p>Pangsa Pelanggan: 79%</p>
                <p>Pengeluaran: $734 per bulan</p>
                <p><b>Karakteristik utama:</b></p>
                <p>
                    - Kebiasaan berbelanja: Kadang-Kadang.<br>
                    - Sangat jarang melakukan penarikan tunai.<br>
                    - Rata-rata sisa saldo di rekeningnya sebesar $918 per bulan.<br>
                    - Rata-rata penarikan tunai yang dilakukan sebesar $364 per bulan.<br>
                    - Rata-rata jumlah transaksi dengan penarikan tunai adalah 1 transaksi perbulan.<br>
                    - Rata-rata minimum pembayaran yang dilakukan sebesar $424 per bulan.
                </p>
            </div>
          </div>
          <div class="item lumayanbanyak" style="display: none;">
            <div class="item-info">
                <p>Pangsa Pelanggan: 16%</p>
                <p>Pengeluaran: $579 per bulan</p>
                <p><b>Karakteristik utama:</b></p>
                <p>
                    - Kebiasaan berbelanja: Jarang.<br>
                    - Cukup sering melakukan penarikan tunai.<br>
                    - Rata-rata sisa saldo di rekeningnya sebesar $4,269 per bulan.<br>
                    - Rata-rata penarikan tunai yang dilakukan sebesar $4,080 per bulan.<br>
                    - Rata-rata jumlah transaksi dengan penarikan tunai adalah 12 transaksi perbulan.<br>
                    - Rata-rata minimum pembayaran yang dilakukan sebesar $2,055 per bulan.
                </p>
            </div>
          </div>
          <div class="item lumayansedikit" style="display: none;">
            <div class="item-info">
                <p>Pangsa Pelanggan: 3%</p>
                <p>Pengeluaran: $8,669 per bulan</p>
                <p><b>Karakteristik utama:</b></p>
                <p>
                    - Kebiasaan berbelanja: Sangat Sering.<br>
                    - Sangat jarang melakukan penarikan tunai.<br>
                    - Rata-rata sisa saldo di rekeningnya sebesar $3,372 per bulan.<br>
                    - Rata-rata penarikan tunai yang dilakukan sebesar $669 per bulan.<br>
                    - Rata-rata jumlah transaksi dengan penarikan tunai adalah 2 transaksi perbulan.<br>
                    - Rata-rata minimum pembayaran yang dilakukan sebesar $1,579 per bulan.
                </p>
            </div>
          </div>
          <div class="item palingsedikit" style="display: none;">
            <div class="item-info">
                <p>Pangsa Pelanggan: 2%</p>
                <p>Pengeluaran: $1,295 per bulan</p>
                <p><b>Karakteristik utama:</b></p>
                <p>
                    - Kebiasaan berbelanja: Kadang-Kadang.<br>
                    - Jarang melakukan penarikan tunai.<br>
                    - Rata-rata sisa saldo di rekeningnya sebesar $4,692 per bulan.<br>
                    - Rata-rata penarikan tunai yang dilakukan sebesar $1,542 per bulan.<br>  
                    - Rata-rata jumlah transaksi dengan penarikan tunai adalah 4 transaksi perbulan.<br>
                    - Rata-rata minimum pembayaran yang dilakukan sebesar $27,540 per bulan.               
                </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  <script src="static/script_conclu.js"></script>
</body>
</html>