<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
     integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous">

    <!-- css -->
    <link rel="stylesheet" href="{{url_for('static', filename = 'style.css')}}"
    type="text/css">

    <!-- plot chart -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
      function cb(selection){
        $.getJSON({
          url: "/callback", data: { 'data':selection}, success: function (result){
            Plotly.newPlot('chart1', result, {});;
          }
        })
      }
    </script>
    
    <title>Credit Card</title>
    
</head>
<body>
  
  <nav class="navbar navbar-light" style="background-color: white;">
    <div class="container-fluid">
      <span class="navbar-brand mb-0 h1" style="color: black; font-family: Segoe UI; margin: 0 0 0 8px; letter-spacing: 0.1em;">OUR Data Studio</span>
      <p style="margin: 8px 16px 8px 0; font-size: 14px; color: black;">OUR Projects / Credit Card - Clustering</p>
    </div>
  </nav>

  <nav>
    <ul class="nav nav-tabs" style="margin: 8px 0 0 0">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/data" style="color: black;  border-top: 4px #46039f solid;">Data</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/modelling" style="color: black;">Modelling</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/conclu" style="color: black;">Conclusion</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/prediction" style="color: black;">Prediction</a>
      </li>
    </ul>
  </nav>

  <main>
    {% block content %}
    <div class="dat-chart">
      <div style="margin: 16px 16px 8px 16px; text-align: justify; width: 100%;">
        <h2>
          Credit Card
        </h2>
        <p>
          &nbsp&nbsp&nbsp&nbspBank adalah lembaga keuangan yang menghimpun dana dari masyarakat dan menyalurkan kembali dana tersebut ke masyarakat serta memberikan jasanya dalam lalulintas pembayaran dan peredaran uang. Pada umumnya Bank dikenal sebagai lembaga keuangan yang kegiatan utamanya menerima simpanan, giro, tabungan dan deposito. Kemudian bank dikenal juga sebagai tempat untuk meminjam uang (kredit) bagi masyarakat yang membutuhkannya. 
        </p>
        <p>
          &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspPersaingan antar-bank saat ini menjadi sangat tinggi membuat setiap perusahaan harus memiliki strategi pemasaran produk perbankannya. Segmentasi pasar adalah salah satu strategi dalam dunia bisnis dengan mengelompokkan produk yang dimiliki sesuai dengan kesamaan, kemiripan, minat serta kebutuhan pelanggan. Alternatif strategi terhadap kegiatan pemasaran yang dilakukan sangat diperlukan agar perusahaan semakin tumbuh dan berkembang. Strategi pemasaran yang tepat dengan menetapkan segementasi pasar yang sesuai sasaran akan mempengaruhi pertumbuhan kreditnya.
        </p>
      </div>
      <div id="chart1" class="chart1" style="margin: 16px 16px 8px 16px; width: 100%;"></div>
    </div>
    {% endblock %}
  </main>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    
</body>
<script>
  a = {{ graph1 | safe }};
  Plotly.newPlot('chart1', a, {})
</script>

</html>